
* {
    box-sizing: border-box;
}

body {
    margin: 0;

}

.nav{
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    height: 100px;
}

.nav .navlogo {
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.site-title{
    font-size: 2rem;
    
}

.nav ul {
    padding: 0;
    margin: 30px;
    list-style: none;
    display: flex;
    gap: 1rem;

}
.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem
    

}

.nav li.active {
    background-color: #555;
    border-radius: 18px;
}

.nav li:hover {
    background-color: #777;
}

.ma-detais-div {
    margin: 10%;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 10px;
    text-align: center;
    width: 80%;
    display: inline-block;

}

.ma-detais-div .ma-detais-title {
    font-family: Arial, sans-serif;
    margin: 0;

}

.ma-detais-div .name-ma-div{
    font-family: Arial, sans-serif;
    margin-right: 30%;
}

.ma-detais-div .name-ma-input{
    
    position: absolute;
    outline: none;
    border-radius: 5px ;
}

.ma-detais-div .name-ma-label{
    
    padding: 0 25px;
    margin: 0 22px;
    transition: 0.2s ease;
}

.ma-detais-div .dob-ma-div {
    font-family: Arial, sans-serif;
    margin-right: 30%;
   
}

.ma-detais-div .dob-ma-input{
    
    position: absolute;
    outline: none;
    border-radius: 5px ;
}

.ma-detais-div .dob-ma-label{
    
    padding: 0 10px;
    margin: 0 14px;
    transition: 0.2s ease;


}

.ma-detais-div .abteilung-ma-div {
    font-family: Arial, sans-serif;
    margin-right: 30%;
}

.ma-detais-div .abteilung-ma-input{
    
    position: absolute;
    outline: none;
    border-radius: 5px ;
}

.ma-detais-div .abteilung-ma-label{
    
    padding: 0 25px;
    margin: 0 10px;
    transition: 0.2s ease;


}


.ma-detais-div .unternehmen-ma-div {
    font-family: Arial, sans-serif;
    margin-right: 30%;
    
}

.ma-detais-div .unternehmen-ma-input{
    
    position: absolute;
    outline: none;
    border-radius: 5px ;
}

.ma-detais-div .unternehmen-ma-label{
    
    padding: 0 15px;
    margin: 0 5px;
    transition: 0.2s ease;


}

.UpdateButton{
    margin: 10px;
}



